@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,800');

body{
color:  #262626;
font: 300 17px/1.58 'Raleway', sans-serif;
}
@font-face {
    font-family: 'pacificoregular';
    src: url(../fonts/pacifico-webfont.woff2) format(woff2),
         url(../fonts/pacifico-webfont.woff) format(woff);
    font-weight: normal;
    font-style: normal;

}

/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
}

/* Typography */
a:focus,
input:focus {
	outline: 2px dashed #ff6033;
}
a {
	text-decoration: none;
}
a,
input[type="submit"],
input[type="button"],
button{
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
button:focus {
	outline: 2px dashed #ff6033;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
	width: 200px;
	height: 55px;
	color: #fff;
	font-size: 20px;
	line-height: 1.35em;
	padding: 15px 25px;
	text-transform: uppercase;
	cursor: pointer;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background-color:  #262626;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}

.ba-header {
	padding-top: 45px;
	padding-bottom: 10px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1;
	background: linear-gradient(to bottom,
	 rgba(255,255,255,0.9) 25%,
	 rgba(255,255,255,0.8) 55%,
	 rgba(255,255,255,0.7) 65%,
	 rgba(255,255,255,0.6) 75%,
	 rgba(255,255,255,0.5) 85%,
	 rgba(255,255,255,0) 100%);
}
.ba-intro {
position: relative;
background: url(../img/bg1.jpg) 50%;
background-size: cover;
z-index: 0;

}
.ba-logo {
	float: left;
}
.ba-nav {
	padding-top: 13px;
	float: right;
}
.ba-menu {
	list-style: none;
	margin: 0;
}
.ba-intro__title {
	font-size: 60px;
	font-weight: 800;
	margin: 0;
}
.ba-menu li {
	display: inline-block;
	margin-left: 33px;
}
.ba-menu a {
	color: #262626;
	font-size: 16px;
	font-weight: 700;
	display: block;
	text-transform: uppercase;
}
.ba-menu a:hover {
	box-shadow: 0px -3px 0px 0px  #ff6033;
	transition: box-shadow .3s;
}
.ba-intro__section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 368px;
	padding-top:  81px;
	padding-bottom: 100px;

}
.ba-intro__section p {
	text-align: justify;
	margin-top: 0;
	margin-bottom: 30px;
}
.ba-scroll {
	position: absolute;
	bottom: 69px;
	left: 50%;
	width: 23px;
	height: 37px;
	margin-left: -11px;
}
.ba-scroll:hover {
	transform: scale(1.3);
}
.ba-section__button {
	background-color:  #ff6033;

}

.ba-about {
	background-color: #00B2B2;
	color: #fff;
}
.ba-about__bg {
	float: left;
	padding: 50px 20px 20px 0;
}

.ba-about__content {
	float: right;
	padding-top: 157px;
	padding-left: 52px;
	padding-right: 20px;
}
.ba-about__title {
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	line-height: 1.3;
}
.ba-about__content p {
	margin-top: 0;
}
.ba-services {
	background: #70BFFF url(../img/tomato.png) 75% no-repeat;
}

.ba-services__content {
	padding: 180px 0 151px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.ba-services__list {
	list-style: none;
	margin: 0;
	padding: 0;
	flex-basis: 400px;
}
.ba-services__list li {
	background: #FFF;
	margin-bottom: 20px;
	box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}
.ba-services__list a {
	display: flex;
	flex-basis: 400px;
	height: 100px;
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
}
.ba-services__list h4 {
	color:  #262626;
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin: 0;
	padding-right: 90px;
	display: inline-block;
}
.ba-services__list svg {
	height: 54px;
	width: 54px;
	position: absolute;
	right: 6%;
}
.ba-services__list a::after {
	position: absolute;
	content: "";
	width: 1px;
	height: 100%;
	right: 25%;
	background: #9d9d9d;
}
.ba-services__list a:hover h4{
   color: #fd581b;
}
.ba-services__list a:hover .cls-1 {
	fill:  #fd581b;
}
.ba-services__info {
	font-size: 90px;
	font-weight: 700;
	color: #FFF;
}
.ba-gallery {
	background-color: #ffff33;
}
.ba-gallery__header {
	max-width: 600px;
	padding-top: 75px;
	text-align: center;
	margin: 0 auto;
}
.ba-gallery__title {
	font-size: 90px;
	font-weight: 700;
	margin: 0;
	line-height: 1.3;
}
.ba-grid__content {
	padding-top: 20px;
	padding-bottom: 120px;
	text-align: center;
}
.ba-gallery__button {
	background-color: #5585a2;
	margin-top: 50px;
}
.ba-grid img {
	display: block;
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.ba-subscribe__button {
	background-color:  #96b92c;
	border: none;
	margin-left: 30px;
	width: 170px;
}
.ba-subscribe {
	padding-top: 140px;
	padding-bottom: 160px;
	background: #fff url(../img/subbg.jpg) 100% 0 no-repeat;
}


.ba-subscribe__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.6em;
	margin: 0;
}
.ba-subscribe__form p {
	margin-top: 9px;
	margin-bottom: 30px;
}
.ba-subscribe__form [type="email"] {
	width: 49%;
	height: 55px;
}

.ba-blog {
	background-color:  #b07cf7;
	padding: 40px 0 120px;
	color: #FFF;
}
.ba-blog a {
	color: #FFF;
}

.ba-blog__text {
	max-width: 630px;
	margin: 0 auto;
	padding: 40px 15px;
}

.ba-blog__title {
	margin: 0;
	padding-bottom: 7px;
	font-size: 90px;
	font-weight: 700;
}
.ba-blog p {
	margin: 0;
}

.ba-blog__content {
	position: relative;
	overflow: hidden;
}

.ba-blog__article {
	position: relative;
	overflow: hidden;
}

.ba-blog__article img {
	// position: relative;
	display: block;
}

.ba-blog__content:hover img {
	transform: scale(1.1);
	filter: blur(5px);
}

.ba-blog__content time {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 5px;
	background-color: rgba(38, 38, 38, 0.5);
	top: 30px;
	left: 30px;
	text-transform: uppercase;
	line-height: 0.7;
	font-size: 32px;
	font-weight: 700;
	padding: 5px 5px 8px 5px;
	text-align: center;
}

.ba-blog__content time span {
	font-size: 21px;
}

.ba-blog__gradient {
	background: linear-gradient(360deg, black, transparent);
	opacity: 0.9;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	display: block;
	text-align: left;
	padding: 18px 20px;
}

.ba-blog__gradient h5 {
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	line-height: 1.4;
	padding-bottom: 11px;
}
.ba-blog__gradient p {
	font-size: 13px;
	padding-bottom: 5px;
}

.ba-blog__button {
	background-color:  #f72b3b;
	margin-top: 50px;
}

.ba-contact {
	background: #ccc url('../img/contacts-bg.jpg') center no-repeat;
	background-size: cover;
	padding: 64px 0 30px;
}

.ba-contact__content {
	max-width: 390px;
	margin: 0 auto;
}

.ba-contact__title{
	margin: 0;
	font-size: 90px;
	font-weight: 700;
}
.ba-contact__content p {
	margin-top:  4px;
}

.ba-contact__form {
	padding-top: 22px;
}
.ba-contact__form input {
	background-color: rgba(0, 196, 196, 0.5);
	min-width: 500px;
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	border: none;
	border-left:  5px solid transparent;
	margin-bottom: 15px;
	cursor: pointer;
}

.ba-contact__form input::placeholder,
.ba-contact__form textarea::placeholder {
	color: #FFF;
}

.ba-contact__form textarea {
	background-color: rgba(0, 196, 196, 0.5);
	min-width: 500px;
	padding: 20px;
	border: none;
	border-left:  5px solid transparent;
	cursor: pointer;
}

.ba-contact__form input:focus,
.ba-contact__form textarea:focus {
	font-weight: 700;
	background-color:  #00c4c4;
	border-left:  5px solid #355b82;
	outline: none;
	transition: .3s;
}

.ba-address {
	padding-top: 17px;
	padding-left: 70px;
	font-style: normal;
}

.ba-address h5 {
	font-size: 17px;
	font-weight: 700;
	margin: 6px 0 0;
	line-height: 1.1;
}

.ba-address__item {
	padding-bottom: 9px;
}

.ba-address a,
.ba-address span {
	font-size: 20px;
	font-weight: 300;
	line-height: 1;
	padding-bottom: 5px;
	color: currentcolor;
}
.ba-contact__button {
	background-color:  #00c4c4;
	margin-top: 40px;
	border: none;
}
.ba-footer {
	font-size: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: #262626;
	color: #929292;
}
.ba-footer__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.ba-footer svg {
	height: 25px;
}
.ba-footer__content span {
	color:  #ff2b58;
	font-weight: 700;
}
